<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase20DB.Properties.Settings.MiConexion" connectionString="Data Source=LAB01PC03;Initial Catalog=Mibase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>